<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge #1</title>
    <link rel='stylesheet' href='normalize.css' />
    <link rel='stylesheet' href='main.css' />
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='script.js'></script>
  </head>
  <body ng-app='basicApp'>
    <main ng-controller='basicController as basic'>

    <form id='employeeInfo'>
      <div class='input'>
        <label for='employeeFirstName'>First Name</label>
        <input type='text' id='employeeFirstName' ng-model='basic.employee.firstName' autofocus required />


        <label for='employeeLastName'>Last Name</label>
        <input type='text' id='employeeLastName' ng-model='basic.employee.lastName' required />
      </div>
      <div class='input'>
        <label for='employeeID'>ID Number</label>
        <input type='number' id='employeeID' ng-model='basic.employee.id' required  />

        <label for='employeeTitle'>Job Title</label>
        <input type='text' id='employeeTitle' ng-model='basic.employee.title' required />
      </div>
      <div class='input'>
        <label for ='employeeSalary'>Annual Salary</label>
        <input type='number' id='employeeSalary' ng-model='basic.employee.salary' required />

        <button type='submit' ng-click='basic.createEmployee()'>Submit</button>
      </div>
    </form>
    <section class='employeeData'>
      <h1>Employee List</h1>
      <ul ng-repeat='employee in basic.employees'>
          <li>
            {{ employee.firstName }}
          </li>
          <li>
            {{ employee.lastName }}
          </li>
          <li>
            {{ employee.id }}
          </li>
          <li>
            {{ employee.title }}
          </li>
          <li>
            {{ employee.salary | currency }}
          </li>
          <li>
            <button type='button' ng-click='basic.deleteEmployee(employee)'>Delete</button>
          </li>
      </ul>
    </section>
    <section>
      <div>
        <p id='monthlySalary'>Monthly Salary Expenditures ($): {{ basic.getTotal() | currency }}</p>
      </div>
    </section>
  </main>
  </body>
</html>
